*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

:root{
    --white-color:#ffffff;
    --black-color:#000000;
    --header-backgound-color:#00000073;
    --hover-nav-and-btn-color:#CC5520;
    --top-section-background-color:#E6E6E6;
    --path-color:#969595;
    --footer-background:#191919;
    --mobile-nav-background-color:#00000073;
    --mobile-nav-background:#000000BF;
    --overlay-color:#00000073;
    --cart-overlay:#0000009C;
    --quantity-btn-color:#8C8C8C;
}

.header{
    width:  100%;
    background: var(--white-color);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
}

.header-mobile-toggler-bar {
    display: none;
    z-index: 1;
}

.fa-xmark{
    color: var(--white-color);
    width: 2rem;
}

.checkbox{
    display: none;
}
  
.fa-ellipsis {
    font-size: 2rem;
    color: var(--white-color);
}
  
.mobile-nav {
    display: none;
    position: absolute;
    left: 0;
    height: 100vh;
    background-color: var(--mobile-nav-background);  
    width: -webkit-fill-available;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 10% 0;
    width: 100%;
}

.link{
    color: var(--white-color);
    font-size: 1.5rem;
    font-family: Montserrat;
    text-decoration: none;
}

.link:hover{
    color: var(--hover-nav-and-btn-color);
}
  
#toggler:checked + .mobile-nav {
    display: grid; 
}

.header-link{
    text-decoration: none;
}

.overlay{
    background: var(--overlay-color);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 200vh;
    bottom: 0;
    z-index: 1;
    display: none;
}

.header-nav-link{
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--white-color);
}

.header-nav-link:hover{
    color: var(--hover-nav-and-btn-color);
}

.header-link{
    text-decoration: none;
}

.header-title{
    font-weight: bold;
    color: var(--hover-nav-and-btn-color);
    cursor: pointer;
}

.header-title-span{
    background: var(--white-color);
    color: var(--black-color);
}

.header-list-of-tabs{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header-tab{
    cursor: pointer;
}

.header-link{
    color: var(--black-color);
    text-decoration: none;
}

.header-link:hover{
    color: var(--hover-nav-and-btn-color);
}

.cart-and-profile-page{
    display: flex;
    gap: 1rem;
}

.cart-and-profile-page i{
    cursor: pointer;
    color: var(--black-color);
}

.cart-and-profile-page i:hover{
    color: var(--hover-nav-and-btn-color);
}

.cart{
    position: fixed; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}

.cart-overlay{
    width: 100%;
}

.cart-content{
    padding: 2rem;
    width: 20rem;
    background: var(--white-color);
    overflow-y: auto;
}

.cart-btn{
    cursor: pointer;
    background: none;
    border: none;
}

.cart-overlay{
    background: var(--cart-overlay);
}

.top-of-cart{
    padding-bottom: 2rem;
}

.cart-exit{
    cursor: pointer;
    background: none;
    border: none;
    color: var(--card-title-color-and-email-border-input);
    font-size: 1rem;
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    justify-content: center;
}

.catr-box{
    color: var(--card-title-color-and-email-border-input);
    font-size: 1rem;
    font-weight: 300;
    font-family: Montserrat;
    text-align: center;
}

.cart-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Playfair Display;
    color: var(--black-color);
}

.cart-items{
    display: grid;
    gap: 1.5rem;
}

.item-content{
    display: grid;
    gap: .5rem;
}

.cart-item-card{
    display: flex;
    gap: 1rem;
}

.item-card-img{
    border-radius: .5rem;
    width: 10rem;
}

.item-card-description{
    font-family: Montserrat;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.item-quantity{
    padding-top: 1.5rem;
}

.decrease-quantity,
.increase-quantity{
    border: none;
    background: none;
    color: var(#8C8C8C);
    font-size: 1.5rem;
    cursor: pointer;
}

.btns-for-change-quantity{
    display: flex;
    align-items: center;
    padding-left: .5rem;
    gap: .5rem;
}

.quantity{
    text-align: center;
    border-radius: .5rem;
    width: 2.5rem;
    height: 1.5rem;
    background: var(--hover-nav-and-btn-color);
}

.delete-item-from-cart{
    display: flex;
    padding-top: .5rem;
    gap: .5rem;
    align-items: center;
}

.delete-btn-text{
    color: var(--quantity-btn-color);
    font-family: Montserrat;
    font-size: .75rem;
}

.delete-btn{
    background: var(--quantity-btn-color);
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.path-and-title-of-page{
    display: grid;
    padding: 2.5rem;
    gap: .75rem;
    justify-content: center;
    text-align: center;
    background: var(--top-section-background-color);
}

.path-to-page{
    color: var(--path-color);
}

.link-to-previous-page,
.link-to-current-page{
    text-decoration: none;
    color: var(--path-color);
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1rem;
}

.link-to-previous-page:hover,
.link-to-current-page:hover{
    color: var(--hover-nav-and-btn-color);
}

.title-of-page{
    font-family: Playfair Display;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black-color);
}

.list-of-filter-btns{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
    list-style: none;
}

.filter-btn{
    background: var(--hover-nav-and-btn-color);
    color: var(--black-color);
    font-family: Montserrat;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.filter-btn:hover{
    color: var(--white-color);
}

.products{
    display: grid;
    padding: 2rem 0;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap:  3rem;
}

.product-img{
    width: 22rem;
}

.add-to-cart-btn{
    position: absolute;
    margin-left: -3.5rem;
    margin-top: 1rem;
    background: var(--hover-nav-and-btn-color);
    color: var(--white-color);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: .75rem;
    cursor: pointer;
    font-family: Montserrat;
}

.add-to-cart-btn:hover{
    background: var(--white-color);
    color: var(--hover-nav-and-btn-color);
}

.btn-span{
    font-size: 1rem;
    font-weight: bold;
}

.product-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name{
    font-weight: bold;
    font-family: Montserrat;
}

.product-price{
    font-weight: 600;
    font-family: Montserrat;
}

.product-raiting{
    display: flex;
    gap: 0;
    font-size: .75rem;
}

.fa-star{
    color: var(--hover-nav-and-btn-color);
}

.product-topic{
    color: var(--path-color);
    font-size: .85rem;
    font-family: Montserrat;
}

.footer{
    padding: 3% 12% 1% 12%;
    background: var(--footer-background);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    color: var(--white-color);
}

.footer-title{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: .75rem;
}

.footer-contacts{
    width: 13rem;
    display: grid;
    gap: .75rem;
}

.company-title{
    font-weight: bold;
    color: var(--hover-nav-and-btn-color);
}

.footer-title-span{
    color: var(--white-color);
}

.footer-point{
    font-weight: 300;
    margin-bottom: .75rem;
    cursor: pointer;
    font-size: 1rem;
}

.footer-point:hover{
    color: var(--hover-nav-and-btn-color);
}

.footer-contacts-social-media{
    display: flex;
    gap: .5rem;
}

.fa-brands{
    cursor: pointer;
}

.fa-brands:hover{
    color: var(--hover-nav-and-btn-color);
}

.footer-bout-rights{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    color: var(--white-color);
}

@media (max-width: 1200px){
    .header-content{
        padding: 1.5rem 8rem;
    }

    .product-img{
        width: 18rem;
    }
}

@media (max-width: 992px){
    .header-content{
        padding: 1.5rem 6rem;
    }


    .products{
        grid-template-columns: repeat(2, auto);
    }

    .product-img{
        width: 21rem;
    }

    .footer{
        padding: 3% 8% 1% 8%;
    }

    .footer-title{
        font-size: .9rem;
    }

    .footer-point{
        font-size: .75rem;
    }

    .footer-contacts-description{
        font-size: .75rem;
    }

    .footer-contacts-phone-number{
        font-size: .75rem;
    }

    .footer-contacts{
        width: 10rem;
    }
}

@media (max-width: 768px){
    .header{
        background: var(--mobile-nav-background-color);
    }

    .header-content{
        padding: 1.5rem 10%;
    }

    .header-title{
        color: var(--white-color);
    }
    
    .header-title-span{
        background: var(--white-color);
        color: var(--mobile-nav-background-color);
    }

    .header-mobile-toggler-bar{
        display: block;
    }

    .header-nav{
        display: none;
    }

    .path-and-title-of-page{
        padding: .5rem;
    }

    .list-of-filter-btns{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        padding: 2rem 0;
    }

    .products{
        grid-template-columns: repeat(1, auto);
        padding:0 0 2rem 0;
    }

    .product-img{
        width: 20rem;
    }

    .footer{
        padding: 3% 0 1% 0;
    }

    .footer-content{
        display: grid;
        justify-content: space-evenly;
        gap: 1rem;
        grid-template-columns: repeat(2 ,auto);
    }
}

@media (max-width: 375px){
    .product-img{
        width: 18rem;
    }

    .product-name{
        font-size: .75rem;
    }
    
    .product-price{
        font-size: .75rem;
    }

    .fa-star{
        width: .75rem;
    }
}